@use '../../../styles/styles.scss' as *;

.TextInput_container {
    position: relative;
    width: 100%;

    .TextInput_startAdornment {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
    }

    .TextInput_label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        color: $subgray;
    }

    .TextInput_isFocused {
        position: absolute;
        top: 16px;
        left: 16px;
        color: $subgray;
        font-size: 12px;
        transition: all 0.2s;
    }

    input {
        width: 100%;
        background-color: #fff;
        padding: 16px;
        border: 1px solid $black;
    }

    input:focus {
        background-color: $white;
        outline: 1px solid $black;
        box-shadow: none !important;
        /*Sometime the blue border you see is from the box-shadow and removing box-shadow will remove the border*/
    }

    .TextInput_endAdornment {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }
}
