$black: #000000;
$white: #ffffff;
$error: 'red';

$red: #ff385c;
$teal: #00a699;
$orange: #fc642d;
$darkgray: #484848;
$gray: #767676;
$lightgray: #ebebeb;

// Airbnb colors - Starts
$airbnb-colors: (
    'red': #ff385c,
    'teal': #00a699,
    'orange': #fc642d,
    'darkgray': #484848,
    'gray': #767676,
);
// Airbnb colors - Ends
