@use '../../../styles/styles.scss' as *;

.SearchModalPage_container {
    height: 100%;
    width: 100%;
    background-color: $lightgray;

    .top {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 7rem;
        height: 10%;

        .close_btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 1.25rem;
            z-index: 1;
        }

        .tab {
            color: $gray;
        }

        .SearchModalPage_selected {
            color: #000;
            border-bottom: 2.5px solid black;
        }
    }

    .search_destination {
        height: 90%;
    }

    .cards {
        padding: 0 1rem;
        width: 100%;
    }

    .bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1.5rem;
        background-color: $white;

        .clear {
            text-decoration: underline;
        }

        a {
            text-decoration: none;
        }
    }
}

@keyframes slide-right {
    0% {
        left: 113px;
    }
    100% {
        left: 200px;
    }
}
