@use '../../../styles/styles.scss' as *;

.RoomsCards_container {
    padding-bottom: 2rem;

    .carousel {
        width: 100%;
        height: 20.3125rem;
        border-radius: 10px;
    }

    .content {
        font-size: 15px;
        line-height: 19px;
        padding-top: 0.75rem;

        .location_and_rank {
            display: flex;
            justify-content: space-between;
        }

        .distance {
            color: $gray;
        }

        .dates {
            color: $gray;
            padding-bottom: 0.25rem;
        }
    }
}
