@use '../styles/styles.scss' as *;

.ExplorePage_container {
    .ExplorePageHeader {
        background-color: $white;
    }

    .map_btn {
        left: 50%;
        transform: translate(-50%, 0);
    }

    .hidden {
        visibility: hidden;
    }
}
