@use '../styles/styles.scss' as *;

.RequestToBookPage_container {
    .RequestToBookPage_header {
        position: relative;
        padding: 1.5rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        color: $black;

        .RequestToBookPage_back {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
        }

        .RequestToBookPage_title {
            font-weight: bold;
        }
    }

    .RequestToBookPage_content {
        .RequestToBookPage_divider {
            height: 8px;
            background-color: $lightgray;
        }
        section {
            padding: 1.5rem 1.5rem;
        }
    }
}
