@use '../styles/styles.scss' as *;

.SearchResultsPage_container {
    .SearchResultsPage_header {
        background-color: $white;
    }

    .google_map {
        width: 100%;
        height: 100%;
    }
}
