@use '../../../../styles/styles.scss' as *;

.DetailsRD_container {
    --ion-grid-padding: 0;
    padding-top: 1rem;

    .content {
        margin-inline: 1.5rem;

        .title {
            font-size: 26px;
            padding-bottom: 1rem;
        }

        .extra {
            display: flex;
            align-items: center;
            padding-bottom: 0.5rem;
        }

        .flex-end {
            display: flex;
            justify-content: flex-end;
        }

        .roomsAvailability {
            font-size: 22px;
        }

        .roomsInfo {
            padding-top: 0.25rem;
        }

        .perksTitle {
            font-size: 16px;
            color: $black;
            padding-bottom: 0.5rem;
        }

        .perksText {
            color: $gray;
            padding-bottom: 0.5rem;
        }

        .aircover {
            font-size: 30px;
            font-stretch: condensed;
            padding-bottom: 0.5rem;
            .red {
                color: $red;
            }
        }

        .aircoverText {
            padding-bottom: 0.5rem;
        }

        .report {
            padding-bottom: 1.5rem;
        }
    }

    .line {
        margin: 1.5rem 1.5rem;
        border-bottom: 1px solid $lightgray;
    }

    .bold {
        font-weight: bold;
    }

    .underline {
        text-decoration: underline;
    }

    .fs14 {
        font-size: 14px;
    }
}
