@use '../../../styles/styles.scss' as *;

.Toggle_container {
    ion-toggle.toggle-checked::part(handle) {
        background-image: url('/assets/images/check-solid.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 14px;
    }
}
