@use '../../../styles/styles.scss' as *;

.Button_container {
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled {
    opacity: 0.2;
    user-select: none;
}
