@use '../../../styles/styles.scss' as *;

.LandingPageCardsSection_container {
    margin: 1.5rem;

    .card-wrapper {
        position: relative;
        .icon {
            position: absolute;
            color: #fff;
            z-index: 1;
            top: 1rem;
            right: 1rem;
            font-size: 30px;
        }

        a {
            text-decoration: none;
            color: $black;
        }
    }
}
